@import '../../styles/variables.scss';

.footer {
    width: 100%;
    padding: 32px;
    border-top: 1px lighten($color-cadet-grey, 30%) solid;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background: $color-white;

    @media (max-width: 850px) {
        flex-direction: column;
    }

    nav.footer__nav {
        padding: 0;
        margin: 0;

        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                margin: 0 8px;
                padding: 0;
                &:after {
                    content: '―';
                    position: absolute;
                    right: -16px;
                    top: 8px;
                    opacity: 0.1;
                }

                &:first-child:after,
                &:last-child:after {
                    display: none;
                }

                a,
                a:link,
                a:visited,
                a:active {
                    padding: 8px 16px;
                    display: inline-block;
                    color: $color-brand;
                    font-size: 14px;
                    letter-spacing: 0.48px;
                    text-decoration: none;
                    transition: color 0.25s;
                }

                a:hover {
                    color: darken($color-brand, 10%);
                }

                &.logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    padding: 0;
                    svg {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            @media (max-width: 520px) {
                flex-direction: column;
                text-align: center;
                li.logo {
                    margin-bottom: 24px;
                }
                li:after {
                    display: none;
                }
            }
        }
    }

    .footer__copyright {
        p {
            font-size: 13px;
            color: $color-cadet-grey;
            letter-spacing: 0.48px;
            font-weight: 300;
        }
    }
}
