@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
