@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

$color-white: #ffffff;
$color-ghost-white: #f1f5f8;
$color-blueberry: #5684fd;
$color-independence: #485264;
$color-cadet-grey: #92a1ba;
$color-black: #000000;

$breakpoint-tablet: '735px';
$breakpoint-desktop: '1069px';
$breakpoint-big: '1499px';

$font-primary: 'Rubik', sans-serif;
