@import './variables';
@import './typography';
@import './header';
@import './button';
@import './section';
@import './hero';
@import './pricing';

body {
    margin: 0;
    overflow-x: hidden;
}

body,
html {
    width: 100vw;
    height: 100%;
}

img.screen {
    max-width: 100%;
    border-radius: 8px;
    margin: 24px auto;
    box-shadow: 0 0 10px 5px rgba($color-black, 0.1);
}

.text-center {
    text-align: center;

    p {
        margin: 0 auto;
    }
}

.craft-logo {
    width: 72px;
    margin-bottom: 24px;
}

.margin-left {
    margin-left: 64px;
    margin-top: 48px;
    margin-bottom: 48px;
    @media (max-width: $breakpoint-desktop) {
        display: none;
    }
}

.margin-right {
    margin-right: 64px;
    margin-top: 48px;
    margin-bottom: 48px;
    @media (max-width: $breakpoint-desktop) {
        display: none;
    }
}

.avatar {
    display: none;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 48px 0 24px 0;
    border: 4px $color-blueberry solid;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 7px lighten($color-blueberry, 30%);
    @media (max-width: $breakpoint-desktop) {
        display: block;
    }
}

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: $color-blueberry;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 1;

    &.preloader--shown {
        display: flex;
        opacity: 0;
        transition: opacity 1s;
    }
}
