@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

$color-white: #ffffff;
$color-blueberry: #5684fd;
$color-independence: #485264;
$color-cadet-grey: #92a1ba;
